html
  head
    title Love To Learn
    style
     include ../static/style.css
  body
    //- h1 Welcome to my site
    nav#navbar 
  
     ul 
       div#logo 
         img(src="/static/logo2.png", alt="LOGO")
         | Love To Learn
       li #[a(href="/") Home]
       li #[a(href="/") Courses]
       li #[a(href="/") Enroll Now]
       li #[a(href="/") About]
       li #[a(href="/contact") Contact Us]
div#section 
div#section1  
 h1.center 24/7 Homework Help 
 h4.center Get step-by-step answers from expert tutors  
div#boxitems
 div.box
   div.img 
     img(src="/static/expert-tutors.png", alt="Expert Tutors")
   div.boxcontent 
     h4.center Expert tutors
     p.center Get personalized help from subject matter experts
 div.box
   div.img 
     img(src="/static/step-by-step.png", alt="Step By Step")
   div.boxcontent 
     h4.center Step-by-step explanations
     p.center We break it down for you
 div.box
   div.img 
     img(src="/static/fast-answers.png", alt="Fast Answers")
   div.boxcontent 
     h4.center Fast answers
     p.center We’ll get you unstuck in as few as 15 minutes
div#btn
 button.btn Get Homework Help
div#partnerssection 
 h1.center Our Partners
div#partnerslogos 
 div.partnerslogos 
   img(src="/static/Neso.png", alt="Neso Academy")
 div.partnerslogos 
   img(src="/static/Chegg.png", alt="Chegg")
 div.partnerslogos 
   img(src="/static/Udemy.png", alt="Udemy")
 div.partnerslogos 
   img(src="/static/Thapatechnical.png", alt="Thapa Technical")
footer#footer 
 Copyright © 2021 All rights reserved | Love To Learn
